<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div id="audioData" class="jumbotron">
            <h1>Agente conversacional para telemonitoramento de pacientes</h1>
        </div>

        <!-- <div id="audioData">
            <h2>Texto para ser alterado</h2>
        </div> -->
        
        <button id="startRecording">Iniciar Gravação</button>
        <button id="stopRecording">Parar Gravação</button>

        <script type="module">
            import { startRecording, stopRecording } from '/js/send_audio.js';
            // Event listeners dos botões
            document.getElementById('startRecording').addEventListener('click', startRecording);
            document.getElementById('stopRecording').addEventListener('click', stopRecording);
        </script>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>